@font-face {
  font-family: 'Anemone';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Anemone;
}
.wrap {
  width: 400px;
  height: 200px;
  border: 3px solid #03c75a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 200px;
  height: 144px;
  border: 3px solid #03c75a;
  border-radius: 8px;
}
.content > li {
  color: #48CA72;
}
